<div class="sidebar">
  <div class="sidebar-sections">
    <div class="sidebar-section">
      <a class="sidebar-item logo" routerLink="/" routerLinkActive="active" title="Home">
        <img src="../../assets/img/PMS.svg" alt="Logo" />
      </a>
    </div>
    <div class="sidebar-section">
      <a class="sidebar-item" routerLink="/control-room" routerLinkActive="active" title="Control Room">
        <img src="../../assets/img/control-room.svg" alt="Control Room" />
      </a>
      <a class="sidebar-item" routerLink="/dashboard" routerLinkActive="active" title="Dashboard">
        <img src="../../assets/img/dashboard.svg" alt="Dashboard" />
      </a>
      <a class="sidebar-item" routerLink="/elements" routerLinkActive="active" title="Elements">
        <img src="../../assets/img/elements.svg" alt="Elements" />
      </a>
      <a class="sidebar-item" routerLink="/settings" routerLinkActive="active" title="Settings">
        <img src="../../assets/img/settings.svg" alt="Settings" />
      </a>
      <a class="sidebar-item" routerLink="/notifications" routerLinkActive="active" title="Notifications">
        <img src="../../assets/img/notifications.svg" alt="Notifications" />
      </a>
    </div>
    <div class="sidebar-section">
      <a class="sidebar-item logout" title="Logout" title="Logout">
        <img src="../../assets/img/logout.svg" alt="Logout" />
      </a>
    </div>
  </div>
</div>