.companies-details {
  padding-left: 1rem;
  padding-right: 1rem;

  .company-details {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;

    .company-header {
      border-bottom: .1rem solid #E0E7F1;
      padding-left: .5rem;
      padding-right: .5rem;

      .dot-icon-container {
        display: inline-block;
        position: relative;
        width: .7rem;
        height: 1.75rem;

        .dot-icon {
          display: inline-block;
          height: .4rem;
          width: .4rem;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #FF7F5C;
          border-radius: 50%;
        }
      }

      .company-image {
        vertical-align: top;
        margin-left: .5rem;
        height: 1.75rem;
      }

      .company-title {
        margin-left: .5rem;
        display: inline-block;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1.8px;
        color: #3D5161;
      }

      .toggle-option {
        float: right;
        padding: .25rem .5rem;
        border-radius: 25%;
      }

      .toggle-option:hover {
        cursor: pointer;
        background-color: #F9F5F3;
      }
    }

    .company-body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 1rem 0 0;

      .details-item {
        padding: .5rem;
        font-family: Montserrat;
        font-size: .75rem;
        color: #3D5161;

        .item-name {
          font-weight: bold;
          float: left;
          max-width: 60%;
        }

        .item-value {
          float: right;
          max-width: 40%;
          font-weight: 500;

          sub {
            margin-left: .25rem;
          }
        }
      }
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.toggle-option {
  position: relative;
}